.header {
  width: 100%;
  background-color: antiquewhite;
  height: 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    gap: 30px;
  }
}
